
@{
    ViewBag.Title = "Contact Us";
}
<form action="/contact" method="post" class="popup-form">
    <div>
        <label>Username</label>
        <input type="text" name="name" value="" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" value="" />
    </div>
    =<div>
        <label>Subject</label><br />
        <input type="text" name="subject" value="" /><br />
    </div>
     <div>
         <label>Message</label><br />
         <textarea rows="4" name="message"></textarea><br />
     </div>
    <div>
        <input type="submit" value="Send Message" />
    </div>
</form>