@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
<form action="/contact" method="post" class="popup-form">
    <div>
        <label asp-for="Name">Your Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" />
    </div>
    =<div>
        <label asp-for="Subject">Subject</label><br />
        <input type="text" asp-for="Subject" /><br />
    </div>
     <div>
         <label>Message</label><br />
         <textarea rows="4" name="message"></textarea><br />
     </div>
    <div>
        <input type="submit" value="Send Message" />
    </div>
</form>